/*
Theme Name: KapeoKolor
Author: Damian Pendrak
*/
html, body {
    margin: 0;
    /*background: #333;*/
}
html, body {
  height: 100%;
  margin: 0;
}
p {
    white-space: pre-wrap;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.contact_main {
    width: 1000px;
    margin: auto;
}
.footer,
.push {
    height: 10px;
    width: 100vw;
    background-size: cover;
    background-position: bottom;
    /*bottom: -1px;*/
    position: relative;
}
body {
    overflow-x: hidden;
    /*display: none;*/
    font-family: 'Lato';

}
header {
    max-width: 1000px;
    background: #fff;
    position: relative;
    font-size: 14px;
    margin: auto;
    height: 80px;
}
a {
  color: #008340;
}
header a:hover {
  color: #df3527;
}
#logo img {
  float: left;
  height: 60px;
  width: auto;
  margin-top: 10px;
}
nav {
  float: right;
}
nav a {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  line-height:80px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin: 0 20px;
}
#content {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.header_image {
  width: 100%;
  height: 360px;
  background-position: center;
  background-size: cover;
}
.home_links {
    width: 100%;
    max-width: 1000px;
    height: 300px;
    margin: auto;
    position: relative;
    top: -130px;
}
.home_links_item {
    float: left;
    border: 2px solid #000;
    border-radius: 50%;
    width: 260px;
    height: 260px;
    margin: 33px;
    overflow: hidden;
    display: flex;
}
#logo {
    width: 200px;
    height: 115px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    float: left;
}
.inside_home_links {
    display: block;
    text-align: center;
    font-size: 21px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    position: absolute;
    margin: auto;
    width: 260px;
    line-height: 260px;
    border-radius: 50%;
}
.home_links_item img {
    transition: .5s;
}
.home_links_item:hover img {
    transform: scale(1.1, 1.1);
}
.home_content_item_text {
    white-space: pre-wrap;
}
.home_content {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.home_content_item {
    width: 45%;
    float: left;
}
.home_content_item:first-child {
    width: 30%;
    float: left;
}
.home_content_item:last-child {
    width: 25%;
    float: left;
}
.home_content_item_text {
    width: 90%;
    margin: auto;
    position: relative;
    top: -30px;
}
h3 {
    color: #008340;
    font-weight: 400;
    width: 90%;
    display: block;
    margin: 20px auto;
}
.home_content_item_line {
    width: 90%;
    height: 1px;
    background-color: red;
    margin: auto;
}
.home_content {
    position: relative;
    top: -100px;
}
#content > h1 {
    line-height: 50px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 26px;
}
.titleBackground {
    width: 100vw;
    height: 50px;
    background-color: #d1d1d1;
    position: absolute;
    margin-top: -50px;
    left: 0;
    z-index: -1;
}
.oferta_images {
    width: 20%;
    float: left;
    margin: 30px 0;
}
.oferta_images > img {
    margin: auto;
}
.techDiv {
    float: left;
    width: 33.3333%;
    margin: 30px 0;
    min-height: 200px;
}
.techDiv h3 {
    text-align: center;
    color: #000;
}
.techDiv img {
    display: block;
    margin: auto;
    float: none;
}
.firma .firma_content {
    max-width: 50%;
    float: left;
}
.firma .firma_line {
    max-width: 40%;
    float: right;
    padding-left: 10px;
    border-left: 1px solid #000;
}
.firma .firma_line img {
    width: 100%;
    height: auto;
}
.firma_line, .firma_content {
    margin-top: 50px;
}
.firma_content > p:first-child {
    margin-top: 0;
}
.kontakt_line {
    width: 1px;
    height: 120px;
    background: #000;
    margin-top: 20px;
    margin-left: 30px;
}
.kontakt_content div {
    float: left;
}
.kontakt_content div p {
    margin: 0;
}
.kontakt_image {
    width: 120px;
    height: 120px;
}
.tech_images img {
    width: 300px;
    height: 300px;
    float: left;
    margin: 25px 0 0 25px;
}
.kontakt_image img {
    width: 100%;
    height: auto;
    margin-top: 21px;
    border-radius: 50%;
}
.push_kontakt {
    width: 100%;
    margin-top: 50px;
}
.map {
    width: 100%;
    height: 300px;
    margin-top: 40px;
    padding-top: 7px;
    border-top: 1px solid #000;
}
.header_image_pages {
    width: 100%;
    height: 180px;
    background-position: center;
    background-size: cover;
}
#menu_trigger {
    display: none;
}
.facebook {
    position: fixed;
    top: 50%;
    right: 0;
    width: 350px;
    height: 500px;
    margin-top: -250px;
    margin-right: -300px;
    z-index: 9999999;
}
.facebook img {
    float: left;
    width: 50px;
    height: auto;
    background: #fff;
    display: block;
    cursor: pointer;
    z-index: 999;
}
.fb-page {
    width: 300px;
}
li.current-menu-item a {
    text-decoration: underline;
}
.footer_image {
    width: 100%;
    height: 174px;
    background-size: cover;
    background-position: bottom;
    bottom: -1px;
    position: relative;
}
.footer_logos {
    height: 125px;
    width: 100%;
    background: #000;
}
.footer_content {
    width: 100%;
    max-width: 900px;
    height: 100%;
    margin: auto;
}
.footer_content div {
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
}
.left_footer {
    width: 13%;
}
.footer_logos_center div {
    align-items: center;
}
.footer_logos_center {
    width: 60%;
}
.logo_in_footer img {
    margin: 0 30px;
}
.footer_right {
    width: 27%;
}
.footer_logos_center div {
    float: left;
}
.footer_content {
    color: #808080;
}
.left_footer {
    align-items: flex-start;
    text-transform: uppercase;
}
.footer_right {
    align-items: flex-end;
}
.left_footer span, .footer_right span {
    margin: 20px 0;
}
.uslDiv p {
    width: 230px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.techDiv p {
    display: flex;
    justify-content: center;
    white-space: normal;
}
@media screen
  and (max-width: 414px)
  and (max-height: 736px) {
    .home_links_item {
      width: 100%;
    }
    .home_content_item {
      width: 100% !important;
    }
    .header_image {
      display: none;
    }
    #logo {
      width: 50%;
      display: block;
      height: 80px;
      float: left;
    }
    .menu-menu {
      width: 100%;
    }
    .titleBackground {
        position: relative;
    }
    .menu-item {
      width: 100%;
      margin: 0;
      text-align: center;
    }
    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      z-index: 999;
    }
    nav {
      width: 100%;
      /*position: fixed;*/
      top: 50px;
      left: 0;
      z-index: 9;
      background: #fff;
      display: none;
    }
    #menu_trigger {
      width: 50%;
      height: 60px;
      /*background: #000;*/
      float: left;
      display: block;
    }
    .home_links {
        top: 0;
        padding-top: 150px;
        margin-bottom: 150px;
        overflow: auto;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .home_links_item img {
        width: calc(80vw - 4px);
        height: calc(80vw - 4px);
    }
    .inside_home_links {
        width: calc(80vw - 4px);
        line-height: calc(80vw - 4px);
    }
    .home_links_item {
        width: calc(80vw - 4px);
        height: calc(80vw - 4px);
    }
    .techDiv {
        width: 100%;
    }
    #menu_trigger > img {
        float: right;
        margin-top: 20px;
        margin-right: 30px;
        width: 40px;
        height: auto;
    }
    .wrapper {
        overflow: auto;
    }
    .footer_logos_center div {
        float: none;
        height: 50px;
    }
    .footer_content div {
        float: none;
        width: 100%;
    }
    .footer_logos_center {
        height: 300px;
    }
    .footer,
    .push {
        height: 10px;
    }
    .footer_logos {
        height: 500px;
    }
    .facebook {
        display: none;
    }
    .footer_content div {
        height: auto;
    }
    .left_footer {
        height: 50px;
    }
    .footer_right {
        height: 50px;
        background: #000;
    }
    .footer_logos_center {
        height: 300px !important;
        display: block !important;
    }
    .footer_logos {
        height: 400px;
    }
    .logo_in_footer {
        margin: 40px 0 0 0;
    }
}
